<div class="navbar">
    <ul>
        <li>
            <a class="<%= path == '/'?'active':'' %> " href="/admin">Home</a>
        </li>
        <li>
            <a class="<%= path == 'products'?'active':'' %> " href="/admin/products">Products</a>
        </li>
        <li>
            <a class="<%= path == 'addProduct'?'active':'' %> " href="/admin/add-product">Add Product</a>
        </li>
    </ul>
</div>